<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hongxing.mapper.ArticleMapper">

    <select id="getArticleById" resultType="com.example.hongxing.dto.ArticleDto">
        select
            ACID,
            ACPRIMARYTITLE,
            ACVICETITLE,
            ACISSUEDATE,
            ACTARGET,
            ACKEY,
            ACTEXT,
            ACAUTHOR,
            ACPROVIDERID,
            ACPICTURE,
            ACLINKURL,
            ACORDER,
            ACUSERID,
            ACSUBINDEX,
            ACRECOMMEND,
            ACOGINDEX,
            ACDRAFTDATE,
            ACPICNUM,
            ACPICNAME,
            ACATTACHNAME,
            ACOLDATTACHNAME,
            ACPRETITLE,
            F_CONTENID,
            ISTOP,
            TOPICID
        from ARTICLE
        WHERE ACID = #{acId}
    </select>

    <select id="getArticleBySubjectId" resultType="com.example.hongxing.dto.ArticleDto">
        select
            a.ACID,
            a.ACPRIMARYTITLE,
            a.ACVICETITLE,
            a.ACISSUEDATE,
            a.ACTARGET,
            a.ACKEY,
            a.ACTEXT,
            a.ACAUTHOR,
            a.ACPROVIDERID,
            a.ACPICTURE,
            a.ACLINKURL,
            a.ACORDER,
            a.ACUSERID,
            a.ACSUBINDEX,
            a.ACRECOMMEND,
            a.ACOGINDEX,
            a.ACDRAFTDATE,
            a.ACPICNUM,
            a.ACPICNAME,
            a.ACATTACHNAME,
            a.ACOLDATTACHNAME,
            a.ACPRETITLE,
            a.F_CONTENID,
            a.ISTOP,
            a.TOPICID,
            u.USNAME
        from ARTICLE a
        Left JOIN USERS u on a.ACUSERID = u.USID
        WHERE  a.ACSUBINDEX = #{subjectId}
    </select>

</mapper>