<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hongxing.mapper.SiteMapper">

    <select id="querySiteList" resultType="com.example.hongxing.dto.SiteDto">
        select SITEID,SITENAME from SITE
        <where>
            1=1
            <if test="siteId !=null and siteId != ''">
               AND SITEID = #{siteId}
            </if>
            <if test="siteName !=null and siteName != ''">
                AND SITENAME LIKE '%' || #{siteName} || '%'
            </if>
        </where>
    </select>

</mapper>